/* CSS HEX */
/*--melon: #ffcfc2ff;
--raisin-black: #282321;
--seashell: #FFF5F2;
--rhythm: #857c8dff;
--pewter-blue: #95afb2ff;*/

body {
  background: #FFF5F2;
  overflow: scroll;
}

h1{
  font-weight: bold;
  font-family: "Didot", serif;
  text-align: center;
}

h3{
  font-family: "Didot", serif;
  text-align: left;
  font-size:  30px;
  color: #282321;
  padding: 2px;
}


p{
  font-family: "Didot", serif;
  text-align: center;
  color: #282321;
  padding: 10px;
}

.skincare {
  margin: 530 520;
}

.hera {
  margin: 530 520;
}

.makeup {
  margin: 530 520;
}

/* Header/Logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #ffcfc2ff;
  color: #222430ff;
  font-size: 30px;
}

