/* CSS HEX */
/*--melon: #ffcfßc2ff;
--raisin-black: #282321;
--seashell: #FFF5F2;
--rhythm: #857c8dff;
--pewter-blue: #95afb2ff;
--champange-pink: #FAF2ED;*/

body {
  background: #FFF5F2;
  overflow: scroll;
}

header {
  background-color: #FAF2ED;
  border-bottom: 1px solid #466995;
  position: fixed;
  width: 100%;
  z-index: 10;
} 

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: left;
}

li {
  color: #282321;
  font-family: "Didot", serif;
  font-size: 10px;
  font-weight: 500;
  display: inline-block;
  width: 100px;  
}

li:hover {
  color: #FAF2ED;
}

h1{
  font-weight: bold;
  font-family: "Didot", serif;
  text-align: center;
}

h3{
  font-family: "Didot", serif;
  text-align: left;
  font-size:  60px;
  color: #282321;
  padding: 2px;
}


p{
  font-family: "Didot", serif;
  text-align: center;
  color: #282321;
  padding: 10px;
}

.skincare {
  margin: 530 520;
}

.hera {
  margin: 530 520;
}

.makeup {
  margin: 530 520;
}

/* Header/Logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #ffcfc2ff;
  color: #222430ff;
  font-size: 30px;
}

